header {
  align-items: center;
  background: #10100f;
  border-bottom: 1px solid #282827;
  box-shadow: inset 0 2rem 2rem -1.2rem #000;
  color: #f0f0ef;
  left: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  > .header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $maximum-content-width;
  }
}
