header {
  align-items: center;
  background: #10100f;
  border-bottom: 1px solid #282827;
  color: #f0f0ef;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
